
<mat-sidenav-container class="body-container" autosize>
  <mat-sidenav #sidenav class="mat-sidenav" mode="side" opened="true" autosize>
    <br>
    <mat-label class="title-start">Start</mat-label>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon class="icon" mat-list-icon routerLink="/home" (click)="isExpanded = !isExpanded">dashboard</mat-icon>
        <span class="full-width" routerLink="/home">Dashboard</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon" mat-list-icon routerLink="/calendar" (click)="isExpanded = !isExpanded">calendar_month</mat-icon>
        <span class="full-width" routerLink="/calendar">Calendar</span>
      </mat-list-item>
      <br>
      <mat-label class="title-personal">Register</mat-label>
      <mat-list-item>
        <mat-icon class="icon" mat-list-icon routerLink="/requirements">layers</mat-icon>
        <span class="full-width" routerLink="/requirements">Requirement</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon" mat-list-icon routerLink="/requirementtype">insert_page_break</mat-icon>
        <span class="full-width" routerLink="/requirementtype">Requirement Type</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon" mat-list-icon routerLink="/requirement-mapping" (click)="isExpanded = !isExpanded">newspaper</mat-icon>
          <span class="full-width" routerLink="/requirement-mapping">Requirements Mapping</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon" mat-list-icon routerLink="/position" (click)="isExpanded = !isExpanded">nature_people</mat-icon>
        <span class="full-width" routerLink="/position">Position</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon" mat-list-icon routerLink="/vessel" (click)="isExpanded = !isExpanded">directions_boat</mat-icon>
        <span class="full-width" routerLink="/vessel">Vessel</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon" mat-list-icon routerLink="/vesselType" (click)="isExpanded = !isExpanded">houseboat</mat-icon>
        <span class="full-width" routerLink="/vesselType">Vessel Type</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon" mat-list-icon routerLink="/corner-and-capstone-register" (click)="isExpanded = !isExpanded">spoke</mat-icon>
          <span class="full-width" routerLink="/corner-and-capstone-register">Training</span>
      </mat-list-item>
      <br>
      <mat-label class="title-personal">Personal</mat-label>
      <mat-list-item>
        <mat-icon class="icon" mat-list-icon routerLink="/home" (click)="isExpanded = !isExpanded">manage_accounts</mat-icon>
        <span class="full-width" routerLink="/home">Account</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  
  <div class="body-container-content">
    <br>
    <mat-label class="title">{{name}}</mat-label>
    <mat-card class="main-content">
      <mat-card-content class="body-child">
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</mat-sidenav-container>
  