.Title {
    font-family: 'Poppins', sans-serif;
    font-weight: 1px;
    color: rgb(96, 92, 92);
    font-size: 20px;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
}

.btnClose {
    background-color: #d69914;
    color: #fff;
    height: 44px;
    width: 25%;
    border-radius: 10px;
    margin-left: 3px;
}

.mat-form-field {
    width: 100%;
    font-size: 15px;
}

.btnSave {
    background-color: #229954;
    color: #fff;
    height: 44px;
    width: 25%;
    border-radius: 10px;
    margin-left: 49%;
}

.btnSave:hover {
    background-color: #51ee93;
    color: #fff;
}

.btnClose:hover {
    background-color: #f0bd4f;
    color: #fff;
}

@media only screen and (max-width:600px) {
    .mat-form-field {
        width: 100%;  
    }

    .btnSave {
        width: 100%;  
    }
}