<div mat-dialog-content class="form-body">
    <br>
    <form #form="ngForm" (ngSubmit)="AddRequirements()">
    <mat-form-field appearance="outline">
        <mat-label>Requirements</mat-label>
        <input matInput type="text" name="requirement" [(ngModel)]="addRequirementRequest.requirementName" autocomplete="off" maxlength="50" minlength="3" required>
    </mat-form-field>
        <button mat-raised-button class="btnSave" [disabled]="submitted" type="submit">{{actionBtn}}</button>
        <button mat-raised-button class="btnClose" mat-dialog-close>Close</button>
    </form>
</div>
