<ngx-spinner size="medium" color="#F18E16" type="ball-fussion" style="color:#fff;">LOADING</ngx-spinner>
<br>
<h1 class="Title">List of Vessel Type</h1>
<mat-divider></mat-divider>
<br>
<mat-toolbar>
  <mat-form-field appearance="standard" class="searchhere">
    <mat-label>Search area</mat-label>
    <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="Type here..." #input>
  </mat-form-field>
  <button class="btnCreate" mat-raised-button (click)="VesselTypeDialog()">Create</button>
</mat-toolbar>
 <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="vesselTypeName">
           <th class="THheader" mat-header-cell *matHeaderCellDef mat-sort-header> Vessel </th>
           <td mat-cell *matCellDef="let row"> {{row.vesselTypeName}} </td> 
          </ng-container>
          <ng-container matColumnDef="Action">
            <th class="THheader" mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row"> 
              <button class="btnEdit" mat-icon-button color="primary" (click)="openEdit(row)"><mat-icon>edit</mat-icon></button>
              <button class="btnDelete" mat-icon-button color="warn" (click)="openDelete(row.id)"><mat-icon>delete</mat-icon></button> 
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>        
 </table>
    <mat-paginator [pageSizeOptions]="[3,5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
</div> 
<br><br><br><br>