.mat-toolbar {
    background-color: #fff;
    color: rgb(114, 109, 109);
    margin-top: 0;
}

.mat-toolbar h1 {
    font-family: 'Poppins', sans-serif;
}

.mat-form-field {
    width: 87%;
    margin-left: 5%;
}

.btnSave {
    width: 25%;
    background-color: rgb(16, 156, 55);
    color:#fff;
}

.btnSave:hover {
    background-color: rgb(32, 197, 78);
}

.btnCancel {
    background-color: #fff;
    margin-right: 8%;
}

.btnCancel:hover {
    background-color: rgb(214, 83, 13);
    color:#fff;
}