
<!-- <h1 class="Title">Requirement Type</h1>
<mat-divider></mat-divider> -->
<div mat-dialog-content class="form-body">
    <br>
    <form #form="ngForm" (ngSubmit)="AddRequirementType()">
        <mat-form-field appearance="outline">
            <mat-label>Requirement type</mat-label>
            <input matInput type="text" name="requirementType" [(ngModel)]="addRequirementType.requirementTypeName" autocomplete="off" maxlength="50" minlength="3" required>
        </mat-form-field>
        <button mat-raised-button class="btnSave" [disabled]="submitted" type="submit">{{actionBtn}}</button>
        <button mat-raised-button class="btnClose" mat-dialog-close="">Close</button>
    </form>
</div>












