<span class="btnClose" mat-dialog-close>&times;</span>
<h1 class="Title">Position</h1>
 <mat-divider></mat-divider>
<div mat-dialog-content class="form-body">
    <br>
    <form #form="ngForm" (ngSubmit)="AddPosition()">
    <mat-form-field appearance="outline">
        <mat-label>Position Type</mat-label>
        <input matInput name="position" [(ngModel)]="addPositionRequest.positionName" autocomplete="off" maxlength="50" minlength="3" required="">
    </mat-form-field>
    <button mat-raised-button class="btnSave" type="submit" >{{actionBtn}}</button>
</form>
</div>
