<div mat-dialog-content class="form-body">
    <br>
    <form #form="ngForm" (ngSubmit)="addPosition()">
    <mat-form-field appearance="outline">
        <mat-label>Position</mat-label>
        <input matInput name="position" [(ngModel)]="model.positionName" autocomplete="off" maxlength="50" minlength="3" required="">
    </mat-form-field>
    <button mat-raised-button class="btnSave" [disabled]="submitted" type="submit" >{{actionBtn}}</button>
    <button mat-raised-button class="btnClose" mat-dialog-close>Close</button>
</form>
</div>
