<ngx-spinner size="medium" color="#F18E16" type="ball-fussion" style="color:#fff;">LOADING</ngx-spinner>
<mat-toolbar>
  <button class="btnCreate" mat-raised-button (click)="RequirementsDialog()"><mat-icon>add</mat-icon>Create</button>
  <button class="btnRefresh" mat-raised-button (click)="RefreshButton()"><mat-icon>refresh</mat-icon>Refresh</button>
  <mat-form-field appearance="standard" class="searchhere">
    <span matPrefix>
      <mat-icon matPrefix class="search">search</mat-icon>
    </span>
    <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="Search" #input>
  </mat-form-field>
</mat-toolbar>
 <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="requirementName">
           <th class="THheader" mat-header-cell *matHeaderCellDef mat-sort-header> Requirements </th>
           <td mat-cell *matCellDef="let row"> {{row.requirementName}} </td> 
          </ng-container>
          <ng-container matColumnDef="Action">
            <th class="THheader" mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row"> 
              <button class="btnEdit" mat-icon-button color="primary" (click)="openRequirementsEdit(row)"><mat-icon>edit</mat-icon></button>
              <button class="btnDelete" mat-icon-button color="warn" (click)="openDeleteRequirements(row.id)"><mat-icon>delete</mat-icon></button> 
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>        
 </table>
    <mat-paginator [pageSizeOptions]="[3,5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
</div> 
<br><br><br><br>